.typography
    &__descr
        display: none
        gap: 10px
        grid-column: 1 / span 8
        &__item
            display: flex
            flex-direction: column
            flex-wrap: wrap
            -webkit-hyphens: auto
            hyphens: auto
            white-space: wrap
            word-break: normal
            &:not(:last-child)
                color: #7D7D7D   
                margin-right: 42px
            &:last-child
                color: #1B1B1B  
                margin-left: 22px
            &__title
                font-size: 14px
                max-width: 238px
                line-height: 20px
                &:nth-child(2)
                    margin-top: 84px
                &:nth-child(3)
                    margin-top: 68px
                &:nth-child(4)
                    margin-top: 60px
                &:nth-child(5)
                    margin-top: 56px
                &:nth-child(6)
                    margin-top: 60px
                &:nth-child(7)
                    margin-top: 56px
                &:nth-child(8)
                    margin-top: 51px
            &__h1
                font-family: 'Graphik-Black', sans-serif
                font-size: 48px
                line-height: 56px
            &__h2
                font-family: 'Graphik-Black', sans-serif
                font-size: 32px
                line-height: 56px
                margin-top: 40px
            &__h3
                font-family: "Graphik-Medium", sans-serif
                font-size: 24px
                line-height: 56px
                margin-top: 28px
            &__h4
                font-family: "Graphik-Medium", sans-serif
                font-size: 18px
                line-height: 56px
                margin-top: 23px
            &__p1
                font-family: "Graphik-Regular", sans-serif
                font-size: 24px
                line-height: 56px
                margin-top: 21px
            &__p2
                font-family: "Graphik-Regular", sans-serif
                font-size: 18px
                line-height: 56px
                margin-top: 23px
            &__p3
                font-family: "Graphik-Regular"
                font-size: 16px
                line-height: 56px
                margin-top: 18px
            &__p4
                font-size: 14px
                line-height: 56px
                margin-top: 12px

.typography__descr__active
    display: flex
    gap: 10px
    grid-column: 1 / span 8

@media screen and (max-width: 900px)
    .typography__descr__item
       
        &:not(:last-child)
            margin-right: 12px

@media screen and (max-width: 500px)
    .typography__descr__item__h1
        font-size: 35px !important

@media screen and (max-width: 420px)
    .typography__descr__item
        word-break: break-all

        